.content-register-container {
    display: grid;
    place-content: center;
    margin-top: 5rem;
}

.content-register-container form{
    display: grid;
}

.content-register-container form .button {
    margin: 3rem 1rem;
    width: auto;
    max-width: 100%;
}

.content-register-container form .form-field {
    display: grid;
}